<launch>
  <param name="robot_description" textfile="$(find val_description)/model/urdf/valkyrie_sim.urdf"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <remap from="joint_states" to="/joint_command"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find val_description)/launch/val_rviz.rviz"/>

  <param name="/ROS_IP" value="localhost"/>
  <param name="ROS_TCP_PORT" type="int" value="10000"/>
  <node name="unity_endpoint" pkg="val_ros_unity_bridge" type="unity_endpoint.py"/>
</launch>
